parameters:
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
          message: '#Method App\\Repository\\AccountRepositoryInterface::find\(\) has no return type specified\.#'
          path: src/Repository/AccountRepositoryInterface.php
        -
          message: '#Method App\\Repository\\AccountRepositoryInterface::find\(\) has parameter \$id with no type specified\.#'
          path: src/Repository/AccountRepositoryInterface.php
        -
          message: '#Method App\\Repository\\AccountRepositoryInterface::find\(\) has parameter \$lockMode with no type specified\.#'
          path: src/Repository/AccountRepositoryInterface.php
        -
          message: '#Method App\\Repository\\AccountRepositoryInterface::find\(\) has parameter \$lockVersion with no type specified\.#'
          path: src/Repository/AccountRepositoryInterface.php
