<nav>
    <ul class="pagination">
        <li
                {% if previous >= 0 %}
                    class="page-item"
                {% else %}
                    class="page-item disabled"
                {% endif %}
        >
            <a class="page-link" href="{{ path(PATH, { offset: previous }) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only"></span>
            </a>
        </li>
        <li
                {% if next < paginator|length %}
                    class="page-item"
                {% else %}
                    class="page-item disabled"
                {% endif %}
        >
            <a class="page-link" href="{{ path(PATH, { offset: next }) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only"></span>
            </a>
        </li>
    </ul>
</nav>
